#=============================================================================
# Lattice iCE40 hx8k-ct256 Pin Constraints
#=============================================================================
# Description: Physical pin constraints for FFT Hardware Accelerator
#              on Lattice iCE40 hx8k-ct256 device.
#              Follows Vyges conventions for constraint files.
# Author:      Vyges IP Development Team
# Date:        2025-07-21
# License:     Apache-2.0
#=============================================================================

# Clock and Reset
set_io clk_i B8
set_io reset_n_i A8

# APB Interface
set_io pclk_i C8
set_io preset_n_i D8
set_io psel_i E8
set_io penable_i F8
set_io pwrite_i G8
set_io paddr_i[0] H8
set_io paddr_i[1] J8
set_io paddr_i[2] K8
set_io paddr_i[3] L8
set_io paddr_i[4] M8
set_io paddr_i[5] N8
set_io paddr_i[6] P8
set_io paddr_i[7] R8
set_io paddr_i[8] T8
set_io paddr_i[9] U8
set_io paddr_i[10] V8
set_io paddr_i[11] W8
set_io paddr_i[12] Y8
set_io paddr_i[13] AA8
set_io paddr_i[14] AB8
set_io paddr_i[15] AC8
set_io pwdata_i[0] AD8
set_io pwdata_i[1] AE8
set_io pwdata_i[2] AF8
set_io pwdata_i[3] AG8
set_io pwdata_i[4] AH8
set_io pwdata_i[5] AJ8
set_io pwdata_i[6] AK8
set_io pwdata_i[7] AL8
set_io pwdata_i[8] AM8
set_io pwdata_i[9] AN8
set_io pwdata_i[10] AP8
set_io pwdata_i[11] AR8
set_io pwdata_i[12] AT8
set_io pwdata_i[13] AU8
set_io pwdata_i[14] AV8
set_io pwdata_i[15] AW8
set_io pwdata_i[16] AY8
set_io pwdata_i[17] AA9
set_io pwdata_i[18] AB9
set_io pwdata_i[19] AC9
set_io pwdata_i[20] AD9
set_io pwdata_i[21] AE9
set_io pwdata_i[22] AF9
set_io pwdata_i[23] AG9
set_io pwdata_i[24] AH9
set_io pwdata_i[25] AJ9
set_io pwdata_i[26] AK9
set_io pwdata_i[27] AL9
set_io pwdata_i[28] AM9
set_io pwdata_i[29] AN9
set_io pwdata_i[30] AP9
set_io pwdata_i[31] AR9
set_io prdata_o[0] AT9
set_io prdata_o[1] AU9
set_io prdata_o[2] AV9
set_io prdata_o[3] AW9
set_io prdata_o[4] AY9
set_io prdata_o[5] AA10
set_io prdata_o[6] AB10
set_io prdata_o[7] AC10
set_io prdata_o[8] AD10
set_io prdata_o[9] AE10
set_io prdata_o[10] AF10
set_io prdata_o[11] AG10
set_io prdata_o[12] AH10
set_io prdata_o[13] AJ10
set_io prdata_o[14] AK10
set_io prdata_o[15] AL10
set_io prdata_o[16] AM10
set_io prdata_o[17] AN10
set_io prdata_o[18] AP10
set_io prdata_o[19] AR10
set_io prdata_o[20] AT10
set_io prdata_o[21] AU10
set_io prdata_o[22] AV10
set_io prdata_o[23] AW10
set_io prdata_o[24] AY10
set_io prdata_o[25] AA11
set_io prdata_o[26] AB11
set_io prdata_o[27] AC11
set_io prdata_o[28] AD11
set_io prdata_o[29] AE11
set_io prdata_o[30] AF11
set_io prdata_o[31] AG11
set_io pready_o AH11

# AXI Interface (if needed)
set_io axi_aclk_i AJ11
set_io axi_areset_n_i AK11
set_io axi_awaddr_i[0] AL11
set_io axi_awaddr_i[1] AM11
set_io axi_awaddr_i[2] AN11
set_io axi_awaddr_i[3] AP11
set_io axi_awaddr_i[4] AR11
set_io axi_awaddr_i[5] AT11
set_io axi_awaddr_i[6] AU11
set_io axi_awaddr_i[7] AV11
set_io axi_awaddr_i[8] AW11
set_io axi_awaddr_i[9] AY11
set_io axi_awaddr_i[10] AA12
set_io axi_awaddr_i[11] AB12
set_io axi_awaddr_i[12] AC12
set_io axi_awaddr_i[13] AD12
set_io axi_awaddr_i[14] AE12
set_io axi_awaddr_i[15] AF12
set_io axi_awaddr_i[16] AG12
set_io axi_awaddr_i[17] AH12
set_io axi_awaddr_i[18] AJ12
set_io axi_awaddr_i[19] AK12
set_io axi_awaddr_i[20] AL12
set_io axi_awaddr_i[21] AM12
set_io axi_awaddr_i[22] AN12
set_io axi_awaddr_i[23] AP12
set_io axi_awaddr_i[24] AR12
set_io axi_awaddr_i[25] AT12
set_io axi_awaddr_i[26] AU12
set_io axi_awaddr_i[27] AV12
set_io axi_awaddr_i[28] AW12
set_io axi_awaddr_i[29] AY12
set_io axi_awaddr_i[30] AA13
set_io axi_awaddr_i[31] AB13
set_io axi_awvalid_i AC13
set_io axi_awready_o AD13
set_io axi_wdata_i[0] AE13
set_io axi_wdata_i[1] AF13
set_io axi_wdata_i[2] AG13
set_io axi_wdata_i[3] AH13
set_io axi_wdata_i[4] AJ13
set_io axi_wdata_i[5] AK13
set_io axi_wdata_i[6] AL13
set_io axi_wdata_i[7] AM13
set_io axi_wdata_i[8] AN13
set_io axi_wdata_i[9] AP13
set_io axi_wdata_i[10] AR13
set_io axi_wdata_i[11] AT13
set_io axi_wdata_i[12] AU13
set_io axi_wdata_i[13] AV13
set_io axi_wdata_i[14] AW13
set_io axi_wdata_i[15] AY13
set_io axi_wdata_i[16] AA14
set_io axi_wdata_i[17] AB14
set_io axi_wdata_i[18] AC14
set_io axi_wdata_i[19] AD14
set_io axi_wdata_i[20] AE14
set_io axi_wdata_i[21] AF14
set_io axi_wdata_i[22] AG14
set_io axi_wdata_i[23] AH14
set_io axi_wdata_i[24] AJ14
set_io axi_wdata_i[25] AK14
set_io axi_wdata_i[26] AL14
set_io axi_wdata_i[27] AM14
set_io axi_wdata_i[28] AN14
set_io axi_wdata_i[29] AP14
set_io axi_wdata_i[30] AR14
set_io axi_wdata_i[31] AT14
set_io axi_wdata_i[32] AU14
set_io axi_wdata_i[33] AV14
set_io axi_wdata_i[34] AW14
set_io axi_wdata_i[35] AY14
set_io axi_wdata_i[36] AA15
set_io axi_wdata_i[37] AB15
set_io axi_wdata_i[38] AC15
set_io axi_wdata_i[39] AD15
set_io axi_wdata_i[40] AE15
set_io axi_wdata_i[41] AF15
set_io axi_wdata_i[42] AG15
set_io axi_wdata_i[43] AH15
set_io axi_wdata_i[44] AJ15
set_io axi_wdata_i[45] AK15
set_io axi_wdata_i[46] AL15
set_io axi_wdata_i[47] AM15
set_io axi_wdata_i[48] AN15
set_io axi_wdata_i[49] AP15
set_io axi_wdata_i[50] AR15
set_io axi_wdata_i[51] AT15
set_io axi_wdata_i[52] AU15
set_io axi_wdata_i[53] AV15
set_io axi_wdata_i[54] AW15
set_io axi_wdata_i[55] AY15
set_io axi_wdata_i[56] AA16
set_io axi_wdata_i[57] AB16
set_io axi_wdata_i[58] AC16
set_io axi_wdata_i[59] AD16
set_io axi_wdata_i[60] AE16
set_io axi_wdata_i[61] AF16
set_io axi_wdata_i[62] AG16
set_io axi_wdata_i[63] AH16
set_io axi_wvalid_i AJ16
set_io axi_wready_o AK16
set_io axi_araddr_i[0] AL16
set_io axi_araddr_i[1] AM16
set_io axi_araddr_i[2] AN16
set_io axi_araddr_i[3] AP16
set_io axi_araddr_i[4] AR16
set_io axi_araddr_i[5] AT16
set_io axi_araddr_i[6] AU16
set_io axi_araddr_i[7] AV16
set_io axi_araddr_i[8] AW16
set_io axi_araddr_i[9] AY16
set_io axi_araddr_i[10] AA17
set_io axi_araddr_i[11] AB17
set_io axi_araddr_i[12] AC17
set_io axi_araddr_i[13] AD17
set_io axi_araddr_i[14] AE17
set_io axi_araddr_i[15] AF17
set_io axi_araddr_i[16] AG17
set_io axi_araddr_i[17] AH17
set_io axi_araddr_i[18] AJ17
set_io axi_araddr_i[19] AK17
set_io axi_araddr_i[20] AL17
set_io axi_araddr_i[21] AM17
set_io axi_araddr_i[22] AN17
set_io axi_araddr_i[23] AP17
set_io axi_araddr_i[24] AR17
set_io axi_araddr_i[25] AT17
set_io axi_araddr_i[26] AU17
set_io axi_araddr_i[27] AV17
set_io axi_araddr_i[28] AW17
set_io axi_araddr_i[29] AY17
set_io axi_araddr_i[30] AA18
set_io axi_araddr_i[31] AB18
set_io axi_arvalid_i AC18
set_io axi_arready_o AD18
set_io axi_rdata_o[0] AE18
set_io axi_rdata_o[1] AF18
set_io axi_rdata_o[2] AG18
set_io axi_rdata_o[3] AH18
set_io axi_rdata_o[4] AJ18
set_io axi_rdata_o[5] AK18
set_io axi_rdata_o[6] AL18
set_io axi_rdata_o[7] AM18
set_io axi_rdata_o[8] AN18
set_io axi_rdata_o[9] AP18
set_io axi_rdata_o[10] AR18
set_io axi_rdata_o[11] AT18
set_io axi_rdata_o[12] AU18
set_io axi_rdata_o[13] AV18
set_io axi_rdata_o[14] AW18
set_io axi_rdata_o[15] AY18
set_io axi_rdata_o[16] AA19
set_io axi_rdata_o[17] AB19
set_io axi_rdata_o[18] AC19
set_io axi_rdata_o[19] AD19
set_io axi_rdata_o[20] AE19
set_io axi_rdata_o[21] AF19
set_io axi_rdata_o[22] AG19
set_io axi_rdata_o[23] AH19
set_io axi_rdata_o[24] AJ19
set_io axi_rdata_o[25] AK19
set_io axi_rdata_o[26] AL19
set_io axi_rdata_o[27] AM19
set_io axi_rdata_o[28] AN19
set_io axi_rdata_o[29] AP19
set_io axi_rdata_o[30] AR19
set_io axi_rdata_o[31] AT19
set_io axi_rdata_o[32] AU19
set_io axi_rdata_o[33] AV19
set_io axi_rdata_o[34] AW19
set_io axi_rdata_o[35] AY19
set_io axi_rdata_o[36] AA20
set_io axi_rdata_o[37] AB20
set_io axi_rdata_o[38] AC20
set_io axi_rdata_o[39] AD20
set_io axi_rdata_o[40] AE20
set_io axi_rdata_o[41] AF20
set_io axi_rdata_o[42] AG20
set_io axi_rdata_o[43] AH20
set_io axi_rdata_o[44] AJ20
set_io axi_rdata_o[45] AK20
set_io axi_rdata_o[46] AL20
set_io axi_rdata_o[47] AM20
set_io axi_rdata_o[48] AN20
set_io axi_rdata_o[49] AP20
set_io axi_rdata_o[50] AR20
set_io axi_rdata_o[51] AT20
set_io axi_rdata_o[52] AU20
set_io axi_rdata_o[53] AV20
set_io axi_rdata_o[54] AW20
set_io axi_rdata_o[55] AY20
set_io axi_rdata_o[56] AA21
set_io axi_rdata_o[57] AB21
set_io axi_rdata_o[58] AC21
set_io axi_rdata_o[59] AD21
set_io axi_rdata_o[60] AE21
set_io axi_rdata_o[61] AF21
set_io axi_rdata_o[62] AG21
set_io axi_rdata_o[63] AH21
set_io axi_rvalid_o AJ21
set_io axi_rready_i AK21

# Interrupts
set_io fft_done_o AL21
set_io fft_error_o AM21

# Note: This is a sample constraint file
# Actual pin assignments should be verified against the target board
# and adjusted according to the specific hardware requirements 